html,
body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: white;
}

.center {
    margin: 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerText {
    display: flex;
    justify-content: center;
}

.playlist {
    height: 500px;
    width: 250px;
    overflow: scroll;
}

.test {
    background-color: white;
}